# NetBeans
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/
/.netbeans/

# Maven
/target/

# IDE specific
/.idea/
/.vscode/

# Compiled Java files
*.class

# Logs
*.log
logs/

# Miscellaneous
*.iml
*.swp
.DS_Store
